body {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    color: var(--text);
    overflow-x: hidden;
    overflow-y:initial;
}

header {
    width: 100%;
    text-align: center;
}

header>a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

main {
    text-align: center;
    width: 100%;
}

.search-container {
    width: 100%;
    padding-top: 20vh;
}

.search-container>input[type="text"] {
    padding: 20px 26px;
    background-color: var(--sec);
    border: 2px solid var(--the);
    border-radius: 6px;
    font-size: 1.6rem;
    color: var(--text);
    outline: none;
    width: auto;
}

.search-container>button {
    padding: 20px 26px;
    background-color: var(--sec);
    border: 2px solid var(--the);
    border-radius: 6px;
    font-size: 1.6rem;
    color: var(--text);
    outline: none;
    cursor: pointer;
    width: auto;
}

.search-container>button:hover {
    transition: .2s;
    background-color: var(--the);
}

#find-container {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 4vh;
    padding-top: 4vh;
    font-size: 1.6rem;
}

#find-container>div {
    padding-bottom: 20px;
    border-radius: 10px;
    width: 18vw;
    border: 5px solid var(--the);
    cursor: pointer;
}

#find-container>div>img {
    border-radius: 6px;
    width: 100%;
}

#find-container>div>h5 {
    margin: 0;
    padding: 0px 10px;
}

#film-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100%;
    background-color: var(--the);
}

.film-slide {
    display: block !important;
    animation: slide .5s ease !important;
}

@keyframes slide {
    0% {
        left: 100vw;
    }
    100% {
        left: 0;
    }
}

#film-container>i {
    position: absolute;
    cursor: pointer;
    padding: 40px 40px;
    font-size: 2rem;
    left: 0;
}

#film-container>#film-banner {
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
}

#film-container>#film-banner>img {
    width: 100vw;
    height: 50vh;
    opacity: 0.7;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.765)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.film-infos {
    display: grid;
    grid-template-areas:
    'film-image film-title'
    'film-image film-date'
    'film-image film-description'
    'film-image film-action';
    padding: 20vh 20vw;
    text-align: left;
}

.film-image {
    max-width: max-content;
    grid-area: film-image;
}

.film-image>img {
    width: 80%;
    border-radius: 5px;
}

.film-title {
    width: 20vw;
    font-size: 4rem;
    grid-area: film-title;
    margin: 0;
}
.film-title>h3 {
    margin: 0;
}

.film-date {
    grid-area: film-date;
}

.film-date>span {
    font-size: 2rem;
    font-weight: lighter;
}

.film-description {
    font-size: 1.6rem;
    grid-area: film-description;
}

.film-description>p {
    margin: 0;
}

.film-action {
    grid-area: film-action
}

.film-action>button {
    font-size: 2rem;
    cursor: pointer;
    padding: 16px 4rem;
    border-radius: 14px;
    background-color: #e0e0e0;
    border: none;
}

.film-action>button:hover {
    transition: .2s;
    background-color: #bfbfbf;
}


@media only screen and (max-width: 760px) {
    #find-container {
        grid-template-columns: auto auto auto;
    }
    #find-container>div {
        width: 28vw;
    }
}


@media only screen and (max-width: 480px) {
    #find-container {
        grid-template-columns: auto;
    }
    #find-container>div {
        width: 90vw;
    }
    .search-container>button {
        margin-top: 10px;
    }
}